<div class="container" id="home-container">
  <div class="jumbotron text-center text-white bg-dark">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Bla bla bla</p>
    <hr class="my-4">
    <p>more bla bla</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
